@import "~antd/dist/antd.css";

.chat_container {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: blue;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;

  display: flex;
  justify-content: center;
}
